target/
**/target/
*.rs.bk
kernel/*.o
kernel/*.bin
kernel/*.elf
userland/**/*.o
userland/**/*.d
userland/**/*.a
userland/**/*.so
userland/**/*.elf
userland/**/*.bin
userland/programs/**/init
userland/programs/**/*.out
disk.img
*.img
!edk2-ovmf/*.fd
*.iso
*.hdd
*.vdi
*.qcow2
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
desktop.ini
*.log
*.dmp
core
core.*
.cache/
__pycache__/
*.pyc/limine
/ovmf
*.iso
*.hdd
edk2-ovmf/
